.TopNav{
display: flex;
width: 76.9%;
height: 4rem;
padding: 0rem 1.25rem;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
div{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 1.24994rem;
        height: 1.25rem;
        flex-shrink: 0;
        margin-right: 0.5rem;
    }
    img:nth-child(3){
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
    }
    p{
        color:black;
        font-family: HelveticaNeue;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
}